@charset "utf-8";


@media (max-width: 600px) {
h1 {
  text-align: center;
  margin: 0 0 48px;
  border-bottom: 1px solid #ddd;
  padding: 4px 0 24px;
  background: 
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

div {
  margin: 16px;
}


button {
  all: unset;
  border-radius: 50%;
  width: 124px;
  height: 124px;
  box-shadow: 12px #ddd;
  border: 2px solid black;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  font-family: "M PLUS Rounded 1c", sans-serif;


}

footer {
  display: flex;
  justify-content: center;
  gap: 128px;
  margin-top: 48px;
  border-top: 1px solid #ddd;
}
}